.light {
  --bg-color: #ffffff;
  --text-color: #333333;
  --container-bg: #f8f9f9;
  --card-bg: #ffffff;
  --accent-color: #4ba586;
  --hover-link: #63b39d;
  --price-color: #69b99d;
  --hover-button: #58a086;
  --hover-sign-button: rgba(105, 185, 157, 0.1);
  --hover-button-shadow: rgba(105, 185, 157, 0.4);
  --bg-hero-rent: #f8f9fe;
  --title-color: #1f2744;
  --title-color-2: #054457;
  --title-list: #054457;
  --text-color: #73788c;
  --text-color-2: #a6a6a6;
  --border-color: #e0e0e0;
  --option-shadow: rgba(146, 106, 120, 0.25);
  --name-avatar: #0b2e29;
  --job-avatar: #767676;
  --subscribe_form-input: #ccc;
}
.dark {
  --bg-color: #121212;
  --text-color: #b0b3b8;
  --container-bg: #18191a;
  --card-bg: #242526;
  --accent-color: #69b99d;
  --hover-link: #81c7b1;
  --price-color: #69b99d;
  --hover-button: #58a086;
  --hover-sign-button: rgba(105, 185, 157, 0.2);
  --hover-button-shadow: rgba(0, 0, 0, 0.6);
  --bg-hero-rent: #1c1e21;
  --title-color: #ffffff;
  --title-color-2: #e4e6eb;
  --title-list: #e4e6eb;
  --text-color-2: #8a8d91;
  --border-color: #3e4042;
  --option-shadow: rgba(0, 0, 0, 0.5);
  --name-avatar: #ffffff;
  --job-avatar: #b0b3b8;
  --subscribe_form-input: #3a3b3c;
}
