@use "../utils/mixins" as *;

.advante {
  padding-top: 200px;
}
.title_advante {
  padding: 12px 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: var(--price-color);
  background: var(--bg-hero-rent);
  width: fit-content;
}
.title_list {
  margin-top: 16px;
  font-family: var(--font3);
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: var(--title-list);
  width: 436px;
}
.list_advante {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advante_block {
  display: flex;
  flex-direction: column;
  width: 376px;
  padding: 20px;
}
.title_about {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 136%;
  letter-spacing: 0.02em;
  color: var(--title-list);
}
.text_about {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: 344px;
}
@include desktop;
@include tablet;
@include phone;
