@use "../utils/mixins" as *;

.comments {
  padding-top: 120px;
}
.title_comments {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: var(--price-color);
  padding: 12px 24px;
  background: var(--bg-hero-rent);
  width: fit-content;
}
.wrapper_comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.title_wrapper {
  font-family: var(--font3);
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--title-list);
}
.learn_more_comments {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: var(--price-color);
  transition: gap 0.3s ease, color 0.3s ease;
  gap: 8px;
  cursor: pointer;
}
.list_comments {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.comment {
  padding: 24px;
  width: 376px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.bold_text {
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0em;
  color: var(--title-color);
}
.text {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--title-color);
}
.brackets {
  transition: transform 0.4s ease, opacity 0.3s;
}
.wrapper_avatar {
  display: flex;
  gap: 14px;
  margin-top: 24px;
}
.name_avatar {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  color: var(--name-avatar);
}
.job_avatar {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: var(--job-avatar);
}
.comment:hover {
  transform: translateY(-8px);
  border-color: var(--price-color);
  box-shadow: 0 10px 30px var(--hover-sign-button);
}
.comment:hover .brackets {
  transform: scale(1.2) translateY(-5px);
  opacity: 1;
}
.learn_more_comments:hover {
  gap: 15px;
  filter: brightness(0.9);
}
.wrapper_avatar img {
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%);
}

.comment:hover .wrapper_avatar img {
  transform: scale(1.1);
  filter: grayscale(0%);
}

@include desktop;
@include tablet;
@include phone;
